body{
  margin:0;
  font-family:Arial,sans-serif;

  background:url("https://images.unsplash.com/photo-1497366754035-f200968a6e72")
  no-repeat center center/cover;

  min-height:100vh;
}

.container{
  width:90%;
  max-width:900px;
  margin:auto;
  padding:20px;
}

.section{
  background:rgba(255,255,255,0.9);
  padding:20px;
  margin:20px 0;
  border-radius:15px;
}

input,textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  padding:10px 15px;
  cursor:pointer;
}